@import url('./layout.css');

*{
    /* outline: 1px dotted #333; */
}

/* Navigation */
#header-option-3 img{
    width: 100%;
}

#main-navigation-option-2{
    display: flex;
    align-items: center;

    /* height: 50px; */
}

#main-navigation-option-2 ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: #34495e;
    padding: 2em;
    /* height: 100%; */
}

#main-navigation-option-2 ul li a{
    text-decoration: none;
    color: #fff;
}

/* Main and Aside */
.content{
    padding: 1em;
}

#float-left{
    float: left;
    margin: 1em;
}

.content p{
    line-height: 1.5;
}

#aside-option-3{
    border: 1px solid #000;
    padding: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

#aside-option-3 h2{
    font-size: 32pt;
    background: #34495e;
    color: #fff;
    padding: 1em;
}

#aside-option-3 cite{
    background: #34495e;
    color: #fff;
    padding: 1em;
}

#aside-option-3 cite a{
    color: #fff;
}